.scroll-pane > .viewport{
    -fx-background-color: transparent;
}

.scroll-pane,
.scroll-pane .scroll-bar:vertical{
    -fx-background-radius: 10;
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button,
.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow{
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-pane .scroll-bar:vertical .thumb{
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-padding: 0 10 10 0;
}
